<h1>New Booking</h1>

<%= simple_form_for @booking do |f| %>
  <%= f.input :flat_id, as: :hidden, input_html: { value: @flat.id } %>


  <%= f.input :start_date, as: :date, label: "Start Date" %>
  <%= f.input :end_date, as: :date, label: "End Date" %>

  <%= f.button :submit, "Request Booking", class: "btn btn-primary" %>
<% end %>
