
    <div class="position-relative" style="max-height: 60vh; overflow: hidden;">
     <% if @flat.photos.attached? %>
       <%= image_tag @flat.photos.first, class: "w-100", style: "object-fit: cover; height: 40vh;" %>
      <% else %>
      <%= image_tag "default-banner.jpg", class: "w-100", style: "object-fit: cover; height: 40vh;" %>
       <% end %>
      <div class="position-absolute bottom-0 start-0 bg-dark bg-opacity-50 text-white p-4 w-100">
        <h1 class="fw-bold"><%= @flat.title %></h1>
        <p class="mb-0"><i class="bi bi-geo-alt-fill"></i> <%= @flat.location %></p>
      </div>
    </div>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10 col-lg-8">
        <div class="card border-0 shadow rounded-4 p-5 mb-5">
          <p class="text-muted mb-4 fs-5"><%= @flat.description %></p>
          <hr>
          <div class="d-flex justify-content-between align-items-center mt-4">
            <h3 class="mb-0 fw-semibold">💶 <%= @flat.price_per_night %>€ <span class="fs-6 text-muted">/ night</span></h3>
          <div>
             <% if user_signed_in? && current_user.role.in?(%w[guest both]) %>
             <%= link_to "Book it!", new_booking_path(flat_id: @flat.id), class: "form-button" %>
             <% else %>
             <%= link_to "Sign in to book", new_user_session_path, class: "btn btn-outline-secondary" %>
             <% end %>
          </div>
          </div>
        </div>

        <% if @flat.photos.length > 1 %>
          <h4 class="mb-3">Gallery</h4>
          <div class="row row-cols-2 row-cols-md-3 g-3 mb-5">
            <% @flat.photos.drop(1).each do |photo| %>
              <div class="col">
                <%= image_tag photo, class: "img-fluid rounded-3", style: "object-fit: cover; aspect-ratio: 4/3;" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
