<div>
  <% if @flat.photos.attached? %>
    <% @flat.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>  
  <h2><%= @flat.title %></h2>
  <h3><%= @flat.location %></h3>
  <h4>Flat desciption</h4>
  <p><%= @flat.description %></p>
  <p>Price per night: <%= @flat.price_per_night %>€</p>
</div>
<div>
  <button class="btn btn-outline-primary">Book it!</button>
</div>
