<h1>New Booking</h1>

<%= simple_form_for @booking, url: bookings_path do |f| %>
  <%= hidden_field_tag :flat_id, @flat.id %>

  <div class="mb-3">
    <%= f.input :start_date, as: :date, label: "Start Date" %>
  </div>

  <div class="mb-3">
    <%= f.input :end_date, as: :date, label: "End Date" %>
  </div>

  <%= f.button :submit, "Request Booking", class: "btn btn-primary" %>
<% end %>
